:root {
    --primarycolor: #093427;
    --background__colour: papayawhip;
}

html {
    font-family: 'Kameron', serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1350px;
    margin: 0 auto;
    background-color: var(--background__colour);
}

.gif:hover {
    animation: play 1s steps(1) infinite;
}

@keyframes play {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -400px; /* Измените это значение на ширину вашего GIF-файла */
    }
}

::-webkit-scrollbar {
    width: 10px;
}
  
  ::-webkit-scrollbar-track {
    background: papayawhip; 
}

  ::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



.body__header {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

.hamburger {
    margin: auto 0;
    order: 2;
}

.primarycolor {
    background-color: var(--primarycolor);
}

.hamburger__line {
    width: 50px;
    height: 10px;
    background-color: var(--primarycolor);
}

.hamburger__line--1 {
    transition: .5s;
    transform-origin: top left;
}

.hamburger__line--2 {
    margin: 6px 0;
    transition: .5s;
}

.hamburger__line--3 {
    transition: .5s;
    transform-origin: bottom left;
}

.active1 {
    transform: translateX(15px) rotate(45deg);
}

.active2 {
    transform: translateX(50px);
    filter: opacity(0);
}

.active3 {
    transform: translateX(15px) rotate(-45deg);
}

.header__navigation {
    position: absolute;
    right: 0;
    transform: translateY(-800px);
    transition-timing-function: cubic-bezier(0, 5, 0.58, 1);
    top: 60px;
    transition: .5s;
    z-index: 999;
}

pre {
    display: none;
}

.header__navigation--underline {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: black;
    transition: .2s;
    left: 50%;
}

.header__navigation ul {
    padding: 0;
    list-style-type: none;
}

.nav--active {
    transform: translate(0);
    transition-timing-function: cubic-bezier(0, 5, 0.58, 1);
}

.header__navigation li {
    background-color: var(--primarycolor);
    color: white;
    position: relative;
}

.header__navigation > ul > li::marker {
    content: "";
}

#copyButton {
    font-size: 18px;
}

.header__navigation li:hover .header__navigation--underline {
    width: 100%;
    transition: .5s;
    left: 0%;
}

.header__navigation li a p {
    margin: 0;
    font-size: 20px;
    padding: 15px 50px 15px 20px;
}

.header__navigation li a:link {
    color: inherit;
    text-decoration: none;
}

.header__navigation li a:visited {
    color: inherit;
}

.container {
    display: flex;
    margin: 30px 20px 0 20px;
    justify-content: center;
}

.container h2 {
    height: 54px;
    margin: 0;
}

.container h2 span.typed-text {
    font-weight: bold;
    color: var(--primarycolor);
  }

main {
    margin: 0 20px;
}

.headings__grid {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    row-gap: 15px;
    column-gap: 10px;
    margin-bottom: 25px;
}

.headings__grid p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

main p {
    text-align: center;
}

h3 {
    text-align: center;
}

.headings__grid h3 {
    grid-column: span 3;
    text-align: center;
}

.h1--simulation--mobile {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
 
.h2--simulation--mobile {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
 
.h3--simulation--mobile {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
 
.h4--simulation--mobile {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
 
.h5--simulation--mobile {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
 
.h6--simulation--mobile {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.h1--simulation--desktop {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
 
.h2--simulation--desktop {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
 
.h3--simulation--desktop {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
 
.h4--simulation--desktop {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
 
.h5--simulation--desktop {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
 
.h6--simulation--desktop {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.examples__images figure:nth-child(2) {
    margin: 20px auto;
}

figure {
    max-width: fit-content;
    margin: 0 auto;
    height: fit-content;
}

section {
    margin: 50px 0;
}

.examples__images {
    margin: 50px 0;
}

table {
    margin: 0 auto;
}

.lists--middle {
    width: fit-content;
    margin: 0 auto;
}

footer {
    color: var(--primarycolor);
    padding: 20px 0;
}

footer a:link {
    color: inherit;
    text-decoration: none;
}

footer a:visited {
    color: inherit;
    text-decoration: none;
}

footer p {
    text-align: center;
}

.listofbuttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button1 {
    padding: 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    padding: 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button3 {
    padding: 1px 1px;
    width: fit-content;
    font-size: 24px;
    background-color: rgb(255, 217, 157);
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.button3:visited {
    text-decoration: none !important;
}

.button3 p {
    position: relative;
    margin: 0;
    z-index: 2;
}

.slider__button3 {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 100%;
    transition: .5s;
    z-index: 0;
}

.button3:hover {
    color: white;
}

.button3:hover .slider__button3 {
    transform: translateX(-100%);
    transition: .2s;
}

@media screen and (min-width: 400px) {
    .button1 {
        padding: 10px 20px;
    }

    .button2 {
        padding: 10px 20px;
    }

    .button3 {
        padding: 10px 20px;
    }
}



@media screen and (min-width: 450px){
    img {
        max-width: 400px;
    }
}

@media screen and (min-width: 600px) {
    .headings__pseudotable {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}

@media screen and (min-width: 1000px) {
    .hamburger {
        display: none;
    }
    
    .header__navigation {
        position: inherit;
        transform: translate(0);
        display: flex;
        align-items: center;
        transition: 0s;
    }

    .header__navigation ul {
        display: flex;
        margin: 0;
        gap: 30px;
    }

    .header__navigation li {
        background-color: transparent;
    }

    .header__navigation li a p {
        color: black;
        padding: 0;
    }

    .examples__images {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}